/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/*
.img-article{
  width: 30%;
  height: 30%;
  float: left;
  margin-right: 10px;
}*/

.media .media-object{
  max-height: 100px;

}

.right-bar section:not(:first-child) {
  border-top: 1px solid grey;

}